body{
    background-image: url(../../../img/R-C.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

.right-parts{
    box-shadow: 0 1px 4px 1px #1e90ff;
    padding-top: 2rem;
    border-radius: .3rem;
    margin-top: 1.4rem;
    /*background-color: white;*/
    /*opacity: .9;*/
    backdrop-filter:blur(3rem);
}

.common-left{
    /*background-color: white;*/
    /*opacity: .9;*/
    /*border: 1px solid #cccccc;*/
    margin-right: 2rem;
    border-radius: .3rem;
    backdrop-filter:blur(3rem);
}
.right-parts:nth-child(1){
    margin-top: 0;
}

.second-page-left{
    box-shadow: 0 1px 4px 1px #1e90ff;
    padding: 1rem .5rem 1rem .5rem;
}
.list-title{
    cursor: pointer;
}